=border-radius($radius)
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

=border-box
	box-sizing: border-box

=small-caps
	font-weight: 500
	text-transform: uppercase
	color: #888
	font-size: 12px
	letter-spacing: .05em

=link
	cursor: pointer


$blue: #659FC1
$accent: #77C1EC
$green: #79C76E
$grey: #f4f4f4

/* Globals */
a:hover, a:focus
	text-decoration:none

button:hover, button:focus, button:active
	color: #fff!important

/* Icon */

.glyphicon-ok
	color: $green

/* General Decor */

.a
	+link

.hoverlink
	color: #444
	+link

	&:hover
		color: #000

.pretty-number
	background: $blue
	color: #fff
	+border-radius(10px)
	font-size: 14px
	font-weight: 400
	padding: 3px 10px

button
	background: $accent
	border: none
	padding: 8px 15px
	color: #fff
	display: inline-block
	+border-radius(3px)

.btn
	background: $accent
	border: none
	padding: 8px 15px
	color: #fff
	display: inline-block
	+border-radius(3px)
	+small-caps

	&:hover
		color: #fff

#upload-text
	position: absolute;
	top: 55px
	right: 60px

/* Navigation */

.navbar-default
	background: #fff
	border-color: #ddd

.navbar-header
	margin-left:15px!important

.navbar
	border-radius: 0!important
	position: fixed
	top: 0

.navbar-right
	margin-right: 10px


/* Sidebar */

.sidebar
	width: 230px
	background: $grey
	position: fixed
	height: 100%
	padding: 40px 20px 40px 0
	+border-box

	.heading
		color: #888
		font-weight: 600
		text-transform: uppercase
		margin-bottom: 5px
		margin-left: 30px

	.link
		display: block
		padding: 7px 0 7px 30px
		color: #444
		+border-radius(5px)

		&:hover
			text-decoration: none
			background: #fff

.main-container
	margin-top: 50px
	margin-left: 230px
	padding: 35px 60px
	position: relative
	font-size: 15px
	+border-box

/* Reading */

.action-menu
	position: absolute
	right: 100px
	top: 50px
	background: #eee
	padding: 10px

.reading-wrap
	padding: 0 30px
	max-width: 800px
	margin: 0 auto

#prev-page, #next-page
	position: fixed
	top: 0
	height: 100%
	+border-box
	width: 80px
	padding: 25% 10px

	&:hover
		background: $grey

#prev-page
	left: 230px

#next-page
	right: 0

#temp-container
	display: none

/* Word List */
.tab-wrap
	margin-bottom: 20px
	
	.tab
		display: inline-block
		font-size: 16px
		font-weight: 600
		padding: 10px 10px
		cursor: pointer
		+border-radius(5px)
		&:hover
			background: #eee

/* Reading Words */

.word-wrap
	display: inline-block
	position: relative

	.word
		padding: 2px 4px
		margin: 14px -1px 5px
		font-size: 16px
		color: #444

		&:hover
			background: #eee
			border-radius: (3px)
			cursor: pointer

		&.selected
			font-weight: 500

	.translation
		font-weight: 500
		font-size: 13px
		width: 200px
		color: #888
		position: absolute

/* Login Box */

.login-box
	max-width: 300px

/* Forms */

form .row
	margin: 15px -15px

.btn
	color: #fff

	&.full
		width: 100%

.form-box
	max-width: 600px

/* Posts */

.panel-header
	padding: 8px 15px
	border: 1px solid #ddd
	background: $grey
	margin-top: 20px
	+small-caps

/* Post item */

.post

	.info
		margin-left: 70px

		.title
			font-weight: 500

	.details
		font-size: 13px


.user-image
	position: absolute
	height: 50px
	width: 50px

	img
		max-width: 100%
		+border-radius(100%)

/* Flashcards */

.main-left
	width: 500px
	display: inline-block
	vertical-align: top
	margin-right: 50px

.main-right
	display: inline-block

	.num-block
		display: inline-block
		text-align: center

		&:first-of-type
			margin-right: 20px

		.number
			font-size: 40px
			color: $accent
			display: block
			font-weight: 700
		
	.delete-word
		+link

	.more-info
		+link

.flashcard
	border: 1px solid #ccc
	+border-radius(5px)
	padding: 20px
	text-align: center

	.flash-word
		font-size: 40px
		margin-bottom: 10px

	.flash-context
		font-style: italic
		color: #888
		height: 40px


	.flash-translation
		font-size: 30px
		opacity:0
		margin: 30px 0 60px
		text-align: center
		border: 1px solid #fff
		display: inline-block
		width: 100%
		padding: 5px 0

		&:hover
			border: 1px solid #ccc
			background: #f8f8f8



	.flash-button
		padding: 15px 0


ul#trans-info
	margin-left: -20px

	.alt
		display: inline-block
		width: 130px

	.change-translation
		display: none
		color: $blue;
		cursor: pointer

	li:hover .change-translation
		display: inline-block

/* Pop */

#overlay
	background: #000
	opacity:.4;
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index:98

.popup
	display: none
	background: #fff
	border: 1px solid #aaa
	position: fixed
	z-index: 100
	top: 15%
	margin-left: 130px
	left: 25%
	width: 50%
	height: 400px
	padding: 30px
	box-shadow: 0px 0px 15px #666
	+border-box
	+border-radius(5px)

	&.active
		display: block
		
#addpostform
	textarea
		height: 200px


