=border-radius($radius)
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

=border-box
	box-sizing: border-box

=small-caps
	font-weight: 500
	text-transform: uppercase
	color: #888
	font-size: 12px
	letter-spacing: .05em

=link
	cursor: pointer

$blue: #659FC1
$accent: #77C1EC
$green: #79C76E
$grey: #f4f4f4

/* Globals */
a:hover, a:focus
	text-decoration:none

button:hover, button:focus, button:active
	color: #fff!important

/* Icon */

.glyphicon
	+link

.glyphicon-ok
	color: $green

.glyphicon-arrow-right
	color: #888

/* General Decor */

.narrow
	max-width: 700px
	font-size: 16px

.img_wrap img
	max-width: 100%

h2
	margin-top: 10px

.c 
	text-align: center

.a
	+link

.hoverlink
	color: #444
	+link

	&:hover
		color: #000

.pretty-number
	background: $accent
	color: #fff
	+border-radius(10px)
	font-size: 13px
	font-weight: 400
	padding: 2px 8px
	margin-left: 3px
	position: relative
	top: -1px

button
	background: $accent
	border: none
	padding: 8px 15px
	color: #fff
	display: inline-block
	+border-radius(3px)

.btn
	background: $accent
	border: none
	padding: 11px 15px
	color: #fff!important
	display: inline-block
	+border-radius(0px)
	+small-caps

	&.full
		width: 100%
		padding: 14px 15px

	&:hover
		color: #fff

.right-button
	position: absolute;
	top: 38px
	right: 60px

	.lang-info
		margin-right: 10px
		display: inline-block

/* Navigation */

.navbar-default
	background: #fff
	border-color: #ddd

.navbar-header
	margin-left:15px!important

.navbar
	border-radius: 0!important
	position: fixed
	top: 0

.navbar-right
	margin-right: 10px


.tiny-flag
	display: inline-block
	height: 21px
	width: 20px
	+border-radius(100%)
	overflow: hidden
	position: relative
	top: 5px
	right: 5px

	img
		height: 100%
		position: relative
		top: -1px



/* Sidebar */

.sidebar
	width: 230px
	background: $grey
	position: fixed
	height: 100%
	padding: 40px 20px 40px 0
	+border-box

	.heading
		color: #888
		font-weight: 600
		text-transform: uppercase
		margin-bottom: 5px
		margin-left: 30px

	.link
		display: block
		padding: 7px 0 7px 30px
		color: #444
		+border-radius(5px)

		&:hover
			text-decoration: none
			background: #fff

		img
			margin-right: 5px

	.footer
		position: absolute
		bottom: 100px
		left: 40px

		a
			+small-caps

.main-container
	margin-top: 50px
	margin-left: 230px
	padding: 35px 60px
	position: relative
	font-size: 15px
	+border-box

.norm-container
	margin-top: 50px
	padding: 35px 60px

/* About */

.features
	margin: 20px 0 40px

	h3
		font-size: 18px
		margin-top: 10px
		color: #888!important

/* Category */

.categories
	float: left
	width: 140px

	.small-header
		+small-caps
		margin-bottom: 10px

.results
	margin-left: 190px

	.panel-header
		margin-top: 0

/* Profile Details */

.profile-details
	border-top: 1px solid #eaeaea
	margin-top: 25px
	padding-top: 15px

	.number
		font-size: 30px!important

/* Reading */



.reading-wrap
	padding: 0 30px
	max-width: 800px
	margin: 0 auto

	.right-button
		right: 100px

.pagination
	position: fixed
	top: 0
	height: 100%
	+border-box
	width: 80px
	padding: 25% 10px

	&:hover
		background: #fafafa

	&.disabled
		img
			display: none

		&:hover
			background: none

#prev-page
	left: 230px

#next-page
	right: 0

#temp-container
	display: none


/* Word List */

thead
	background: $grey
	border: 1px solid #ddd
	+small-caps

.filter-wrap
	padding-top: 20px

.filterSelect
	display: none

.lang-label
	padding-top: 10px

.tab-wrap
	margin-bottom: 20px
	
	.tab
		display: inline-block
		font-size: 16px
		font-weight: 600
		padding: 10px 10px
		cursor: pointer
		+border-radius(5px)
		&:hover
			background: #eee

td.context
	max-width: 300px

/* Reading Words */

h2
	.word-wrap .word
		font-size: 24px

.word-wrap
	display: inline-block
	position: relative

	.word
		padding: 2px 4px
		margin: 14px -1px 5px
		font-size: 16px
		color: #444
		text-align: center

		&:hover
			background: #eee
			border-radius: (3px)
			cursor: pointer

		&.selected
			font-weight: 500

	.translation
		font-weight: 500
		font-size: 13px
		color: #888
		position: relative
		top: 14px
		margin-top: -13px
		padding: 3px 0px
		&:hover
			outline: 1px solid #eee

/* Login Box */

.login-box
	max-width: 300px

	&.c
		margin: 0 auto

#facebook-login
	background: #3b5998

/* Forms */

.error
	color: #D03B3B
	font-weight: 500
	margin-bottom: 10px

.big-label
	font-size: 20px
	color: #444
	font-weight: 400

select
	border:0!important
	outline: 1px solid #ccc

.form-control
	+border-radius(0)
	padding: 15px
	height: 45px

form .row
	margin: 15px -15px

.form-space
	input
		margin: 10px 0

.form-box
	max-width: 600px

/* Users */

input.username
	padding: 5px 20px
	font-size: 30px
	text-align: center
	border: 1px solid #fff
	font-weight: 500

	&:hover
		border: 1px solid #ddd

/* Posts */

.panel-header
	padding: 8px 15px
	border: 1px solid #ddd
	background: $grey
	margin-top: 20px
	+small-caps


/* Post item */

.post

	.info
		margin-left: 70px

		.title
			font-weight: 500

	.details
		font-size: 13px
		margin-top: 5px


.flag-image
	position: absolute
	height: 50px
	width: 50px
	top: 15px
	overflow:hidden
	text-align:center
	+border-radius(100%)

	img
		height: 50px
		position: relative
		left: -11px

		
/* Flashcards */

.main-left
	width: 500px
	display: inline-block
	vertical-align: top
	margin-right: 50px

.num-block
	display: inline-block
	text-align: center
	min-width: 90px
	margin-right: 20px

	&:last-of-type
		margin-right: 0px

	.number
		font-size: 40px
		color: $accent
		display: block
		font-weight: 700

.main-right
	display: inline-block

	
		
	.delete-word
		+link

	.more-info
		+link

.flashcard
	border: 1px solid #ccc
	+border-radius(3px)
	padding: 20px
	text-align: center

	.flash-word
		font-size: 40px
		margin-bottom: 10px

	.flash-context
		font-style: italic
		color: #999
		height: 40px


	.flash-translation
		font-size: 30px
		opacity:0
		margin: 30px 0 60px
		text-align: center
		border: 1px solid #fff
		display: inline-block
		width: 100%
		padding: 5px 0

		&:hover
			border: 1px solid #ccc
			background: #f8f8f8



	.flash-button
		padding: 15px 0


ul#trans-info
	margin-left: -20px

	.alt
		display: inline-block
		margin-right: 10px

	.change-translation
		display: none
		color: $blue;
		cursor: pointer

	li:hover .change-translation
		display: inline-block

/* Pop */

#overlay
	background: #000
	opacity:.4;
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index:98

.popup
	display: none
	background: #fff
	border: 1px solid #aaa
	position: fixed
	z-index: 100
	top: 15%
	margin-left: 130px
	left: 25%
	width: 50%
	height: 400px
	padding: 30px
	box-shadow: 0px 0px 15px #666
	+border-box
	+border-radius(5px)

	&.active
		display: block
		
#addpostform
	textarea
		height: 200px

/* Front page */

h3


.gif-wrap 
	text-align: center
	margin: 30px 0
	img
		max-width: 500px

.section
	padding: 20px 0 30px 0
	margin: 50px -60px 0
	background: $grey
