=border-radius($radius)
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius

=border-box
	box-sizing: border-box

=small-caps
	font-weight: 500
	text-transform: uppercase
	letter-spacing: .05em
	color: #888
	font-size: 12px

$blue: #659FC1
$accent: #659FC1

/* Globals */
a:hover, a:focus
	text-decoration:none

/* General Decor */

.pretty-number
	background: $blue
	color: #fff
	+border-radius(10px)
	font-size: 14px
	font-weight: 400
	padding: 3px 10px

button
	background: $accent
	border: none
	padding: 8px 15px
	color: #fff
	display: inline-block
	+border-radius(3px)


/* Navigation */
.navbar
	border-radius: 0!important
	position: fixed
	top: 0

/* Sidebar */

.sidebar
	width: 230px
	background: #eee
	position: fixed
	height: 100%
	padding: 40px 20px 40px 0
	+border-box

	.heading
		color: #888
		font-weight: 600
		text-transform: uppercase
		margin-bottom: 5px
		margin-left: 30px

	.link
		display: block
		padding: 6px 0 6px 30px
		+border-radius(5px)

		&:hover
			text-decoration: none
			background: #ddd

.main-container
	margin-top: 50px
	margin-left: 230px
	padding: 35px 60px
	position: relative
	+border-box

/* Reading */

.reading-wrap
	padding: 0 30px
	max-width: 800px

#prev-page, #next-page
	position: absolute
	top: 0
	height: 100%
	+border-box
	width: 80px
	padding: 25% 10px

	&:hover
		background: #f4f4f4

#prev-page
	left: 0

#next-page
	right: 0

/* Word List */
.tab-wrap
	margin-bottom: 20px
	
	.tab
		display: inline-block
		font-size: 16px
		font-weight: 600
		padding: 10px 10px
		cursor: pointer
		+border-radius(5px)
		&:hover
			background: #eee

/* Reading Words */

.word-wrap
	display: inline-block
	position: relative

	.word
		padding: 2px 4px
		margin: 14px -1px 5px
		font-size: 16px
		color: #444

		&:hover
			background: #eee
			border-radius: (3px)
			cursor: pointer

		&.selected
			font-weight: 500

	.translation
		font-weight: 500
		font-size: 13px
		width: 200px
		color: #888
		position: absolute

/* Login Box */

.login-box
	max-width: 300px

/* Forms */



.btn
	&.full
		width: 100%

.form-box
	max-width: 500px

/* Posts */

.panel-header
	padding: 8px 15px
	border: 1px solid #ddd
	background: #eee
	margin-top: 20px
	+small-caps

.post

	.info
		margin-left: 70px

		.title
			font-weight: 500



.user-image
	position: absolute
	height: 50px
	width: 50px

	img
		max-width: 100%
		+border-radius(100%)


/* Pop */

#overlay
	background: #000
	opacity:.4;
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index:98

.popup
	display: none
	background: #fff
	border: 1px solid #aaa
	position: fixed
	z-index: 100
	top: 15%
	margin-left: 130px
	left: 25%
	width: 50%
	height: 400px
	padding: 30px
	box-shadow: 0px 0px 15px #666
	+border-box
	+border-radius(5px)

	&.active
		display: block
		
#addpostform
	textarea
		height: 200px


