<template name="about">
	<div class="narrow img_wrap">
		<h2>About</h2>
		<p>This purpose of this site is to aid in language learning by making reading and studying foreign texts much easier.</p>
		<br>

		<h2>Why?</h2>
		<p>This site was created partially to help me in my German classes, and partially to study meteor.js. View the source on <a href="https://github.com/inyounghong/translationapp">Github</a>.</p>
		<br>

		<h2>Features</h2>

		<h3>Login</h3>
		<img src="images/login.png">
		<ul class="features">
			<li>Users can register on the site or login through Facebook.</li>
		</ul>

		<h3>Bookshelf</h3>
		<img src="images/bookshelf.png">
		
		<ul class="features">
			<li>Users can upload their own texts to read.</li>
			<li>All of the user's uploaded texts as well as any other texts the user reads appears in the bookshelf.</li>
			<li>Texts are sorted by time viewed.</li>
		</ul>

		<h3>Reading</h3>
		<img src="images/reading.png">
		
		<ul class="features">
			<li>Texts are split into pages for easier reading.</li>
			<li>All words (including the title) can be clicked for a translation.</li>
		</ul>

		<h3>Translating</h3>
		<img src="/images/translating1.gif">
		
		<ul class="features">
			<li>Clicking on a word displays a translation.</li>
			<li>The Yandex Translation API is used the first time a word is translated to a particular language, and the translation is stored in a database.</li>
			<li>When a previously translated word is clicked, the translation is pulled from the database, resulting in instant translation.</li>
		</ul>

		<h3>Words</h3>
		<img src="images/words.png">
		
		<ul class="features">
			<li>Every word translated by a user is displayed in the Words list.</li>
			<li>Words can be sorted into learned and unlearned words.</li>
			<li>Words are displayed along with their context.</li>
			<li>Words can be filtered by language.</li>
			<li>Words can be deleted.</li>
		</ul>

		<h3>Flashcards</h3>
		<img src="images/flashcards.png">
		
		<ul class="features">
			<li>Flashcards test all of the users unlearned words.</li>
			<li>Words are displayed along with their context.</li>
			<li>Translations can be edited straight on the flashcard (AJAX).</li>
			<li>Additional/alternative translations are available for German words. Clicking on one of these alternative translations will automatically change the translation for the user.</li>
		</ul>

		<br>

		<h2>Credits</h2>
		<ul>
			<li><a href="https://dribbble.com/shots/1211759-Free-195-Flat-Flags">Flag Icons</a></li>
			<li><a href="https://tech.yandex.com/translate/">Yandex Translation API</a></li>
		</ul>
	</div>
</template>