<template name="about">
	<div class="narrow">
		<h2>About</h2>
		<p>This purpose of this site is to aid in language learning by making reading and studying foreign texts much easier.</p>
		<br>

		<h2>Why?</h2>
		<p>This site was created partially to help me in my German classes, and partially to study meteor.js. View the source on <a href="https://github.com/inyounghong/translationapp">Github</a>.</p>
		<br>

		<h2>Features</h2>

		<br>

		<h2>Credits</h2>
		<ul>
			<li><a href="https://dribbble.com/shots/1211759-Free-195-Flat-Flags">Flag Icons</a></li>
		</ul>
	</div>
</template>