<template name="langSelect">

    <div class="col-xs-1 lang-label {{filterSelect}}">
        From
    </div>
    <div class="col-xs-4 {{filterSelect}}">
        {{ > startSelect}}
    </div>
    <div class="col-xs-1 lang-label {{filterSelect}}">
        To
    </div>
    <div class="col-xs-4 {{filterSelect}}">
        {{ > endSelect}}
    </div>
</template>

<template name="startSelect">
    {{setLanguages}}
    <select class="form-control" name="startLanguage" id="startLanguage">
            {{ #if showAll}}
                <option value="all">All Languages</option>
            {{/if}}
            <option value="en" selected="{{enSelected}}">English</option>
            <option value="zh" selected="{{zhSelected}}">Chinese</option>
            <option value="fr" selected="{{frSelected}}">French</option>
            <option value="de" selected="{{deSelected}}">German</option>
            <option value="it" selected="{{itSelected}}">Italian</option>
            <option value="ja" selected="{{jaSelected}}">Japanese</option>
            <option value="ko" selected="{{koSelected}}">Korean</option>
            <option value="ru" selected="{{ruSelected}}">Russian</option>
            <option value="es" selected="{{esSelected}}">Spanish</option>
        </select>
</template>

<template name="endSelect">
    <select class="form-control" name="endLanguage" id="endLanguage">
            {{ #if showAll}}
                <option value="all">All Languages</option>
            {{/if}}
            <option value="en" selected="{{enSelected}}">English</option>
            <option value="zh" selected="{{zhSelected}}">Chinese</option>
            <option value="fr" selected="{{frSelected}}">French</option>
            <option value="de" selected="{{deSelected}}">German</option>
            <option value="it" selected="{{itSelected}}">Italian</option>
            <option value="ja" selected="{{jaSelected}}">Japanese</option>
            <option value="ko" selected="{{koSelected}}">Korean</option>
            <option value="ru" selected="{{ruSelected}}">Russian</option>
            <option value="es" selected="{{esSelected}}">Spanish</option>
        </select>
</template>