<template name="learn">
	<!-- Left Side -->
	<div class="main-left">

		<a href="{{pathFor route='learned'}}">{{learnedWords}} Learned Words</a>
		/ <a href="{{pathFor route='words'}}">{{totalWords}} Total Words</a> 

		{{#if word}}
			<!-- Start Flashcard -->
			<div class="flashcard">
				<div class="flash-word">
					{{word.word}}
				</div>
				<div class="flash-context">
					{{{word.context}}}
				</div>
				<div class="flash-translation">
					{{word.translation}}
				</div>
				<button class="btn full flash-button" id="translation-button">Translate</button>
				<div class="mark-learned">I know this!</div>
			</div>
		{{else}}
			<p>You have no words left to learn! </p>
		{{/if}}

	</div>

	<!-- Right Side -->
	<div class="main-right">
		{{#if word}}
		<div class="delete-word">Delete Word</div>
		<div class="more-info">More Info</div>

		<div id="trans-box">
			<ul id="trans-info">
			</ul>
		</div>

		<div id="temp-container"></div>
		{{/if}}
	</div>

	<script>

	</script>
</template>