<template name="learn">
	<!-- Left Side -->
	<div class="main-left">
		{{#if word}}
		
		
			<!-- Start Flashcard -->
			<div class="flashcard">
				<div class="flash-word">
					{{origWord}}
				</div>
				<div class="flash-context">
					{{{word.context}}}
				</div>

				<div class="translation-wrap">
					<input type="text" class="flash-translation" value="{{word.translation}}">
				</div>

				<div class="btn full flash-button" id="translation-button">Translate</div>
				
			</div>
			
		{{else}}
			<p>You don't have any words to study yet.</p>

			<p><a href="{{pathFor route='home'}}">Upload</a> your own texts or <a href="{{pathFor route='browse'}}">browse texts</a> to find content to read!</p>
		{{/if}}

	</div>

	<!-- Right Side -->
	<div class="main-right">
		{{#if word}}
			<div class="num-block">
				<a href="{{pathFor route='learned'}}">
					<span class="number">{{learnedWords}}</span>
					<span class="text">Learned Words</span>
				</a>
			</div>
			<div class="num-block">
				<a href="{{pathFor route='words'}}">
					<span class="number">{{totalWords}}</span>
					<span class="text"> Total Words</span>
				</a> 
			</div>
			<hr>
			<div class="mark-learned hoverlink">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				I know this!</div>
			
			<hr>
			
			<div class="more-info hoverlink">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				Additional Translations</div>
			<hr>
			<div class="delete-word hoverlink">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Word</div>

			<!-- Hidden Box -->
			<div id="trans-box">
				<ul id="trans-info">
				</ul>
			</div>


		<div id="temp-container"></div>
		{{/if}}
	</div>

	<script>

	</script>
</template>