<template name="login">
	{{#if currentUser}}
	{{ else }}
		<div class="login-box">
		    <h2>Login</h2>
		    <form class="login">
		        <input class="form-control" type="email" name="email" placeholder="Email">
		        <input class="form-control" type="password" name="password" placeholder="Password">
		        <p><input class="btn full" type="submit" value="Login"></p>
		    </form>
		</div>

        <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    {{/if}}
</template>