<template name="post">
	<div class="reading-wrap">
	    <h2>{{{titleText}}}</h2>

	    From {{startLang}} To {{endLang}}


	    {{#if userself}}
	    <div class="right-button">
	    	<a href="edit/{{post._id}}" class="btn">Edit</a>
	    	<a class="btn btn-delete delete-post">Delete</a>
	    </div>
	    {{/if}}

	    <div class="reading-text">
	    	 {{{textAfterLoad}}}
	    </div>

	    <div class="page">Page: {{page}} Stored: {{post.page}}</div>

	    <a href="?page={{prev}}" id="prev-page" class="pagination {{prevDisabled}}"><img src="/images/prev.png"></a>
	    <a href="?page={{next}}" id="next-page" class="pagination {{disableNext}}"><img src="/images/next.png"></a>


	</div>


</template>
