<template name="post">
	<div class="reading-wrap">
	    <h2>{{{titleText}}}</h2>


	    
	    <div class="right-button">
	    	<div class="page">Page: {{page}} / {{totalPages}}</div>

	    	<a href="edit/{{post._id}}" class="lang-info">
	    		{{startLang}} 
	    		<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
	    		{{endLang}}
	    	</a>

	    	{{#if userself}}
	    		<a href="edit/{{post._id}}" class="btn">Edit</a>
	    		<a class="btn btn-delete delete-post">Delete</a>
	    	{{/if}}
	    </div>

	    <hr>
	    

	    <div class="reading-text">
	    	<div class="loading-page c">
	    		{{{loadingGif}}}
	    	</div>
	    	<div class="text-after">
	    		{{{textAfterLoad}}}
	    	</div>
	    </div>

	    

	    <a href="?page={{prev}}" id="prev-page" class="pagination {{prevDisabled}}"><img src="/images/prev.png"></a>
	    <a href="?page={{next}}" id="next-page" class="pagination {{disableNext}}"><img src="/images/next.png"></a>


	</div>

	<script>
		$(document).ready(function(){
			// If the words have been processed, delete loading gif
			setTimeout(function(){
				console.log("javascript");
				$('.loading-page').html("");
			}, 100);
				
		})
	</script>

</template>
