<template name="posts">
    
    <ul class="list-group">
        {{#each post}}
            
            <a href="{{pathFor route='post'}}?page={{page}}" class="post list-group-item">
                
                <div class="user-image">
                    <img src="/images/blank_user.png">
                </div>

                <div class="info">
                    <div class="title">{{title}}</div>
                    <div class="text">{{sampleText}}</div>
                
                    <div class="details">
                        <span class="uploaded-by"><a href=""> {{uploadedBy}}</a></span>
                        <span class="word-count">Word Count: {{wordCount}}</span>
                        <span class="page-count">Page Count: {{pageCount}}</span>
                    </div>

                </div>
            </a>

        {{/each}}
    </ul>
</template>

<template name="addPost">
    <form class="form-horizontal form-box">
        <div class="form-group">
            <label for="title" class="col-xs-2 control-label">Title</label>
            <div class="col-xs-10">
                <input type="text" id="title" placeholder="Title" class="form-control" name="postTitle" value="{{title}}">
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-xs-2 control-label">Text</label>
            <div class="col-xs-10" >
                <textarea placeholder="Text" id="text" name="postText" class="form-control" value={{text}} required></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</template>