<template name="posts">
    
    <ul class="list-group">
        {{# if allPosts}}
            {{#each allPosts}}
                {{> postItem}}
            {{/each}}

        {{else}}

            {{#if todayPost}}
            <div class="panel-header">Today</div>
            {{/if}}
            {{#each todayPost}}
                {{> postItem}}
            {{/each}}

            {{#if yesterdayPost}}
            <div class="panel-header">Yesterday</div>
            {{/if}}
            {{#each yesterdayPost}}
                {{> postItem}}
            {{/each}}

            {{#if oneWeekPost}}
            <div class="panel-header">One Week Ago</div>
            {{/if}}
            {{#each oneWeekPost}}
                {{> postItem}}
            {{/each}}

            {{#if oldPost}}
            <div class="panel-header">Older</div>
            {{/if}}
            {{#each oldPost}}
                {{> postItem}}
            {{/each}}
        {{/if}}
    </ul>
</template>

<template name="postItem">
    <a href="{{pathFor route='post'}}?page={{page}}" class="post list-group-item">
        <div class="user-image">
            <img src="/images/blank_user.png">
        </div>

        <div class="info">
            <div class="title">{{title}}</div>
            <div class="text">{{sampleText}}</div>
        
            <div class="details">
                <span class="uploaded-by"><a href=""> {{createdBy}}</a></span>
                <span class="word-count">Word Count: {{wordCount}}</span>
                <span class="page-count">Page Count: {{pageCount}}</span>
                <span class="user-count">User Count: {{userCount}}</span>
                <!-- <span class="reader-count">Readers: {{readerCount}}</span> -->
            </div>

        </div>
    </a>
</template>

<template name="postForm">
    <!-- Post Form Only -->
    <form class="form-horizontal" id="addpostform">
        <div class="form-group">
            <label for="title" class="col-xs-2 control-label">Title</label>
            <div class="col-xs-10">
                <input type="text" id="title" placeholder="Title" class="form-control" name="postTitle" value="{{title}}">
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-xs-2 control-label">Text</label>
            <div class="col-xs-10" >
                <textarea placeholder="Text" id="text" name="postText" class="form-control" value={{text}} required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-2 control-label">Language</label>
            {{ > languageSelect }}
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="submit-form">Submit</button>
            </div>
        </div>
    </form>
</template>

<template name="languageSelect">
    {{setLanguages}}
    <div class="col-xs-5" >
        From 
        <select class="form-control" name="startLanguage" id="startLanguage">
            <option value="en" selected="{{enSelectedA}}">English</option>
            <option value="de" selected="{{deSelectedA}}">German</option>
            <option value="es" selected="{{esSelectedA}}">Spanish</option>
        </select>
        {{enSelectedA}}
    </div>
    <div class="col-xs-5" >
        To 
        <select class="form-control" name="endLanguage" id="endLanguage">
            <option value="en" selected="{{enSelectedB}}">English</option>
            <option value="de" selected="{{deSelectedB}}">German</option>
            <option value="es" selected="{{esSelectedB}}">Spanish</option>
        </select>
    </div>
</template>


<template name="addPost">
    <button class="togglePopup">+ Add New Text</button>
        
    
    <!-- Popup -->
    <div class="popup">
        {{>postForm}}
       
    </div>

    <script>
    // Open popup on click

    $('.togglePopup').on('click', function (e) {
        console.log("csdf");
        $('#overlay').show();
        $('.popup').toggleClass('active');

        // Close popup when clicking outside
        $(document).bind("click", function(e){
            if( (notButton(e) && outsideBox(e)) || isSubmit(e)){
                console.log("hereerer");
                $('#overlay').toggle();
                $('.popup').toggleClass('active');
                $(document).unbind("click");
            }
        })
    });

    function notButton(e){
        return $(e.target).attr("class") != "togglePopup";
    }

    function outsideBox(e){
        return !$(e.target).closest('.popup').length;
    }

    function isSubmit(e){
        return $(e.target).attr("class") == "submit-form";
    }



    </script>
</template>


<template name="editPost">
    {{setPostId}}
    {{>postForm}}

</template>