<template name="settings">
	<h2>Settings</h2>
	<form class="{{formClass}}">
		<div class="row">
	            <label for="displayName" class="col-xs-4 control-label">Display Name</label>
	            <div class="col-xs-8">
					<input class="form-control" id="displayName" type="text" name="name" placeholder="Display Name" value="{{user.profile.name}}">
			</div>
		</div>

		 
		<div class="row">
	        <label class="col-xs-4 control-label">Language</label>
		    <div class="col-xs-1" >
		        From
		    </div>
		    <div class="col-xs-3" >
		        <select class="form-control" name="startLanguage" id="startLanguage">
		            <option value="en" selected="{{enSelectedA}}">English</option>
		            <option value="de" selected="{{deSelectedA}}">German</option>
		            <option value="es" selected="{{esSelectedA}}">Spanish</option>
		        </select>
		        {{enSelectedA}}
		    </div>
		    <div class="col-xs-1" >
		        To
		    </div>
		    <div class="col-xs-3" >
		        <select class="form-control" name="endLanguage" id="endLanguage">
		            <option value="en" selected="{{enSelectedB}}">English</option>
		            <option value="de" selected="{{deSelectedB}}">German</option>
		            <option value="es" selected="{{esSelectedB}}">Spanish</option>
		        </select>
		    </div>
		</div>

	    <div class="form-group">
            <div class="col-xs-offset-4 col-xs-8">
                <button type="submit" class="btn full">Save and Get Started!</button>
            </div>
        </div>
	</form>



</template>