<template name="settings">
	<h2>Settings</h2>
	<hr>
	{{ setLanguageSession}}
	<form class="form-box">

        <!-- <label for="displayName" class="ontrol-label">Display Name</label>
		<input class="form-control" id="displayName" type="text" name="name" placeholder="Display Name" value="{{user.profile.name}}" required> -->

		<br>

	    <label class="control-label big-label">I know</label>
		{{ > startSelect}}

		<br>

		<label class="control-label big-label">I want to learn</label>
		{{ > endSelect}}

		<br>

        <button type="submit" class="btn full">Save and Get Started!</button>

	</form>



</template>