<template name="sidebar">
	<aside class="sidebar">
		<div class="heading">Browse</div>
		<a class="link" href="{{pathFor route='browse'}}">
			<img src="/images/book.png"> Texts</a>
		<br>
		<div class="heading">My Content</div>
		<a class="link" href="{{pathFor route='bookshelf'}}">
			<img src="/images/book.png"> Bookshelf</a>
		<a class="link" href="{{pathFor route='words'}}">
			<img src="/images/list.png"> Words</a>
		<a class="link" href="{{pathFor route='learn'}}">
			<img src="/images/cards.png"> Flashcards</a>
	</aside>


</template>
