<template name="words">
	{{ currentUser._id}}
    <h2>My Words ({{totalWords}})</h2>

    <table class="table table-striped">
        <thead>
        	<tr>
        		<th>Word</th>
        		<th>Context</th>
        		<th>Translation</th>
        		<th> </th>
        	</tr>
        </thead>
        <tbody>

	        {{#each translation}}
	            <tr>
	            	<td><b>{{word}}</b></td>
	            	<td>{{{context}}}</td>
	                <td>{{trans}}</td>
	                <td><span class="delete-translation">Delete</span></td>
	            </tr>
	        {{/each}}
    	</tbody>
    </table>
</template>