<template name="words">

    <ul class="nav nav-tabs">
        <li class="{{allActive}}"><a href="{{pathFor route='words'}}" class="tab">New Words <span class="pretty-number">{{totalNewWords}}</span></a></li>
        <li class="{{learnedActive}}"><a href="{{pathFor route='learned'}}" class="tab">Learned Words <span class="pretty-number">{{totalLearnedWords}}</span></a></li>
    </ul>

    <div class="right-button">
        <a class="btn" href="{{pathFor route='learn'}}">
            <img src="images/cards_white.png" style="margin-right: 3px; margin-top: -3px">
             Flashcards</a>
    </div>

    <div class="row  filter-wrap">
        <div class="col-xs-2">
            <div class="a" id="addFilter">Filter by Language</div>
        </div>
        <div class="col-xs-1 filter-select">
            From
        </div>
        <div class="col-xs-3 filter-select">
            <select class="form-control" name="startLanguage" id="startLanguage">
                <option value="en">All Languages</option>
                <option value="en" selected="{{enSelectedA}}">English</option>
                <option value="de" selected="{{deSelectedA}}">German</option>
                <option value="es" selected="{{esSelectedA}}">Spanish</option>
            </select>
        </div>
        <div class="col-xs-1 filter-select">
            To
        </div>
        <div class="col-xs-3 filter-select">
            <select class="form-control" name="endLanguage" id="endLanguage">
                <option value="en">All Languages</option>
                <option value="en" selected="{{enSelectedB}}">English</option>
                <option value="de" selected="{{deSelectedB}}">German</option>
                <option value="es" selected="{{esSelectedB}}">Spanish</option>
            </select>
        </div>
    </div>

    <hr>
    <table class="table">
        <thead>
        	<tr>
        		<th>Word</th>
        		<th>Context</th>
        		<th>Translation</th>

        		<th> </th>
        	</tr>
        </thead>
        <tbody>

	        {{#each trans}}
	            <tr>
	            	<td><b>{{origWord}}</b></td>
	            	<td>{{{context}}}</td>
	                <td>{{translation}}</td>
	                <td>
                        <span class="know-translation">{{knowMessage}}</span>
                        <span class="delete-translation">x</span>
                        {{tested}}
                    </td>
	            </tr>
	        {{/each}}
    	</tbody>
    </table>

    <script>
    $('#addFilter').click(function(){
        $('.filter-select').toggle();
    });
    </script>
</template>