<template name="words">
	{{ currentUser._id}}
    <div class="tab-wrap">
        <a href="{{pathFor route='words'}}" class="tab">New Words <span class="pretty-number">{{totalNewWords}}</span></a>
        <a href="{{pathFor route='learned'}}" class="tab">Learned Words <span class="pretty-number">{{totalLearnedWords}}</span></a>
    </div>

    <table class="table table-striped">
        <thead>
        	<tr>
        		<th>Word</th>
        		<th>Context</th>
        		<th>Translation</th>

        		<th> </th>
        	</tr>
        </thead>
        <tbody>

	        {{#each translation}}
	            <tr>
	            	<td><b>{{word}}</b></td>
	            	<td>{{{context}}}</td>
	                <td>{{trans}}</td>
	                <td>
                        <span class="know-translation">{{knowMessage}}</span>
                        <span class="delete-translation">x</span>
                    </td>
	            </tr>
	        {{/each}}
    	</tbody>
    </table>
</template>